$select-border-color: #ccc !default;
$select-primary-color: #023a70 !default;
$box-shadow: true !default;
$select-padding: 16px 32px 16px 16px !default;
$select-label-font-size: 16px !default;
$select-label-font-size-small: 12px !default;
$label-active-color: #023a70 !default;
$label-background: #fff !default;
$option-spacing: 8px 16px !default;
$option-group-padding-left: 32px !default;
$option-wrap-bg-color: #fff !default;
$option-wrap-zIndex: 10 !default;
$option-group-color: rgb(143, 138, 138) !default;
$option-hover-bg-color: rgba(0, 0, 0, 0.15) !default;
$option-selected-bg-color: rgba(0, 0, 0, 0.2) !default;
$border-radius: 4px !default;
$dropdown-icon-color: #000 !default;
$search-input-spacing: 16px !default;
$search-wrapper-spacing: $option-spacing !default;
$checkbox-size: 20px !default;
$checkbox-tick-size: (
  "width": 4px,
  "height": 10px,
) !default;
$checkbox-tick-width: 4px !default;
$checkbox-hover-unchecked-color: #fff !default;
$chip-background-color: #282b2d !default;
$chip-text-color: #fff !default;
$chip-spacing: 0px 8px !default;
$chip-between-spacing: 4px !default;
$chip-font-size: 16px !default;
$chip-border-radius: 4px !default;
$chip-border: 0 !default;

$wrap-content-on-focused: true !default;

@keyframes scrolldown {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}

* {
  box-sizing: border-box;
}

.select-wrapper {
  border-radius: $border-radius;
  border: 1px solid $select-border-color;
  padding: $select-padding;
  position: relative;
  cursor: pointer;

  &.focused {
    border: 1px solid $select-primary-color;
    @if $box-shadow {
      box-shadow: 0px 0px 0px 1px inset $select-primary-color;
    }
  }

  .select-label {
    position: absolute;
    pointer-events: none;
    font-size: $select-label-font-size;
    transform: translateY(-50%);
    top: 50%;
    transition: top 0.3s;
    background: $label-background;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 50px);
    &.has-value,
    &.focused,
    &.dropdown-open {
      font-size: $select-label-font-size-small;
      top: 0 !important;
    }
    &.focused {
      color: $label-active-color;
    }
  }

  .select-input,
  .select-search-input {
    &,
    &:focus,
    &:active,
    &:hover,
    &:focus-visible,
    &:focus-within {
      outline: 0;
    }
  }

  .select-input {
    cursor: pointer;
    padding: 0;
    border: 0;
    user-select: none;
  }

  .option-dropdown {
    border-radius: $border-radius;
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: top;
    display: flex;
    flex-direction: column;
    animation: 0.2s linear scrolldown;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.15);
    background: $option-wrap-bg-color;
    z-index: $option-wrap-zIndex;

    &.down {
      top: 100%;
    }
    &.up {
      transform-origin: bottom;
      bottom: 100%;
      top: auto;
    }
  }

  &.focused {
    .select-value-wrapper {
      flex-wrap: wrap;
      @if $wrap-content-on-focused {
        .select-value-display {
          word-break: break-all;
          white-space: initial;
        }
      }
    }
  }

  .select-value-wrapper {
    display: flex;

    .select-input {
      width: 2px;
    }
    .select-value-display {
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 2px);
      white-space: nowrap;
    }
  }

  .select-option-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: relative;
    li.select-option {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: $option-spacing;
      // hover and keyboard navigation highlight
      &:not(.disabled):not(.option-group):hover,
      &.hover {
        background: $option-hover-bg-color;
        .checkbox-icon {
          border-color: $checkbox-hover-unchecked-color;
        }
      }
      &.selected {
        background: $option-selected-bg-color;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      &.option-group {
        cursor: unset;
        pointer-events: none;
        color: $option-group-color;
        & ~ li:not(.option-group) {
          padding-left: $option-group-padding-left;
        }
      }
    }
  }

  .dropdown-icon-wrapper {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
  }
  .dropdown-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-45%) rotate(45deg);
    border: solid $dropdown-icon-color;
    border-width: 0px 3px 3px 0px;
    padding: 3px;
    margin-right: 0.3rem;
    pointer-events: none;
  }
  .option-dropdown + .dropdown-icon {
    transform: rotate(225deg);
  }
  .select-search-wrapper {
    padding: $search-wrapper-spacing;
    position: relative;
    .search-icon-wrapper {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
    }
    .select-search-input {
      width: 100%;
      padding: $search-input-spacing;
      border-radius: $border-radius;
      border: 1px solid $select-border-color;
      &:focus {
        border: 1px solid $select-primary-color;
        @if $box-shadow {
          box-shadow: 0px 0px 0px 1px inset $select-primary-color;
        }
      }
    }
  }
  .checkbox-icon {
    flex-shrink: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    border: 2px solid $select-border-color;
    position: relative;
    &.checked {
      background: $select-primary-color;
      border: 0;
      &:after {
        content: "";
        width: map-get($checkbox-tick-size, "width");
        height: map-get($checkbox-tick-size, "height");
        border: solid #fff;
        border-width: 0px $checkbox-tick-width $checkbox-tick-width 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    & + span {
      padding-left: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .chip-wrapper {
    display: flex;
    flex-wrap: wrap;
    .chip-view {
      color: $chip-text-color;
      font-size: $chip-font-size;
      margin-right: 2 * $chip-between-spacing;
      margin-bottom: $chip-between-spacing;
      margin-top: $chip-between-spacing;
      border-radius: $chip-border-radius;
      overflow: hidden;
      span {
        background-color: $chip-background-color;
        padding: $chip-spacing;
      }
      @if $chip-border != 0 {
        border: $chip-border;
      }
      &.focus {
        .chip-remove {
          background: lighten($color: $chip-background-color, $amount: 10%);
        }
      }
      .chip-remove {
        padding-left: 4px;
        background-color: $chip-background-color;
        &:hover {
          background: lighten($color: $chip-background-color, $amount: 10%);
        }
        &:after {
          display: inline-block;
          content: "\00d7";
        }
      }
      & + input {
        font-size: $chip-font-size + $chip-between-spacing;
      }
    }
  }
}
